<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-top clearfix">
                        <h4 class="pull-left">Noticias favoritas <a href="#"><i class="fa fa-rss"></i></a></h4>
                    </div><!-- end blog-top -->

                    <div class="alert alert-primary" role="alert" *ngIf="listNews.length === 0">
                        <strong>¡Atención!</strong> No tienes noticias favoritas.
                    </div>

                    <div class="blog-list clearfix">
                        <div *ngFor="let news of listNews" class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a title="">
                                        <img [src]="news.image_url" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a title="">{{ news.title}}</a></h4>
                                <p> {{news.summary}}</p>
                                <small class="firstsmall hand"><a class="bg-orange" title="" (click)="deleteFavorite(news.id)">Eliminar de Favoritos</a></small>
                                <small><a title="">{{ news.publishedAt | date:'dd MMM yyyy' }}</a></small>
                                <small><a title="">{{ news.new_site}}</a></small>
                                <small><a title="">Guardada en {{ news.savedAt | date:'dd MMM yyyy' }}</a></small>
                     </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                    </div><!-- end blog-list -->
                </div><!-- end page-wrapper -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-start">
                                <li class="page-item">
                                    <a class="page-link" (click)="getFavorites(previous)">Anterior</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" (click)="getFavorites(next)">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->

            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <h2 class="widget-title">Buscar Noticias</h2>
                        <div class="navbar-news mr-2">
                            <div class="newsletter-widget text-left">
                                <form>
                                    <input type="text" #input (keyup)="searchFavorite(input.value)" class="form-control" placeholder="Ingrese una noticia a buscar">
                                </form>
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>